html.body{
  font-family: 'Roboto',sans-serif;
}
.container{
  width: 1400px;
  margin: auto;

  display: flex;
}

.users{
  height: 2800px;
  width: 300px;
  padding:20px 20px;
  border: 1px solid gray;
  border-radius: 15px;
  margin-right: 30px;
  box-shadow: 0 0 20px 0 black;
}

.users > ul, .todos > ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.users > ul > li{
  padding-top: 20px;

  margin: 0 0 10px 0;
  padding: 10px;
  border-bottom: 1px solid aliceblue;
}
.todos{
  width: 800px;
  margin: auto;
}
.todos > ul >li{
  border: 1px solid gray;
  padding: 15px;
  margin: 0 0 20px 0;
  text-align: center;
}
.users > ul > li:hover{
  background-color: #e1f8ff;
  border-radius: 15px;
}
.user-name{
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  cursor: pointer;

}
.user-email{
  font-size: 16px;
  font-weight: 300;
  color: gray;
}
.no_selected_user{
  align-self: center;
  text-align: center;
  font-size: 20px;
  flex:1;
  font-weight: 500;
}
.no_selected_user > span{
  color: darkblue;
  font-size: 25px;
}
.filter{
  margin-bottom: 20px;
}
.filter > input{
  width: 778px;
  padding: 10px;
}

img{
  width: 250px;
  height: 250px;
}


/* 

html.body{
  font-family: 'Roboto',sans-serif;
}
.container{
  width: 1400px;
  margin: auto;

  display: flex;
}

.users{
  width: auto;
  height: 2222px;
  text-align: center;
  padding-top: 10px;
  
  border: 1px solid gray;
  border-radius: 15px;
  margin-right: 30px;
  box-shadow: 0 0 20px 0 black;
}

.users > ul, .img > ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.users > ul > li{
  margin: 0 0 10px 0;
  padding: 10px;
  border-bottom: 1px solid aliceblue;
  cursor: pointer;
}
.img{
  display: flex;
  justify-content: space-between;
}
.img > ul >li{
  border: 1px solid gray;
  padding: 15px;
  margin: 0 0 20px 0;
  text-align: center;
}
.users > ul > li:hover{
  background-color: #e1f8ff;
  border-radius: 15px;
}
.user-name{
  font-size: 20px;
  font-weight: 500;
}
.user-email{
  font-size: 16px;
  font-weight: 300;
  color: gray;
}
.no_selected_user{
  align-self: center;
  text-align: center;
  font-size: 20px;
  flex:1;
  font-weight: 500;
}
.no_selected_user > span{
  color: darkblue;
  font-size: 25px;
}
.filter{
  margin-bottom: 20px;
}
.filter > input{
  width: 778px;
  padding: 10px;
}


img{
  width: 250px;
  height: 250px;

} */
